.cometchat-action-bubble {
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: var(--cometchat-radius-max, 1000px);
  border: 1px solid #dcdcdc;
  background: #ffffff;
}

.cometchat-action-bubble__text {
  color: #727272;
  text-align: center;
  font-size: 12px;
}

.cometchat-action-bubble__icon {
  display: none;
}
